<%  
    const now = new Date().getTime();
    const SHOW_AFTER_TIME = article.details.showAfter ? new Date(article.details.showAfter).getTime() : null;
    const SHOW_AFTER_DISTANCE = SHOW_AFTER_TIME - now;

    const SHOW_AFTER_DAYS = Math.floor(SHOW_AFTER_DISTANCE / (1000 * 60 * 60 * 24));
    const SHOW_AFTER_HOURS = Math.floor((SHOW_AFTER_DISTANCE % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const SHOW_AFTER_MINUTES = Math.floor((SHOW_AFTER_DISTANCE % (1000 * 60 * 60)) / (1000 * 60));
    const SHOW_AFTER_SECONDS = Math.floor((SHOW_AFTER_DISTANCE % (1000 * 60)) / 1000);

    const SHOW_AFTER_COUNTDOWN = `
    ${SHOW_AFTER_DAYS > 0 ? SHOW_AFTER_DAYS + `  dia${SHOW_AFTER_DAYS > 1 ? 's':''}` : ''} 
    ${SHOW_AFTER_HOURS > 0 ? SHOW_AFTER_HOURS + `  hora${SHOW_AFTER_HOURS > 1 ? 's':''}` : ''}
    ${SHOW_AFTER_MINUTES > 0 ? SHOW_AFTER_MINUTES + ` min` : ''}
    ${(SHOW_AFTER_DAYS + SHOW_AFTER_HOURS + SHOW_AFTER_MINUTES) == 0 ? SHOW_AFTER_SECONDS + `s` : ''}
    `;

    const SHOW_AFTER_ACTIVE = article.details.showAfter && SHOW_AFTER_COUNTDOWN && SHOW_AFTER_DISTANCE > 0;

    const ARTICLE_IS_PRIVATE = article.details.private;

    const OPENABLE_BY_USER = (!SHOW_AFTER_ACTIVE && !ARTICLE_IS_PRIVATE) || (user && (user.details.articleWriter || user.details.administrator));

    const STATS = {
        upvote: article.history.filter((h) => h.type === 'UPVOTE').length,
        downvote: article.history.filter((h) => h.type === 'DOWNVOTE').length,
        favorite: article.history.filter((h) => h.type === 'FAVORITE').length,
    }

%>

<article 
class="bg-[#292929] rounded-lg p-4 mb-4 shadow hover:outline-[#008251] outline-none duration-150 <% if(OPENABLE_BY_USER) { %> cursor-pointer <% } %>" 
<% if(OPENABLE_BY_USER) { %> onclick="location.href='/library/<%= article.id %>'" <% } %>>

    <div class="flex flex-row">
        <div class="basis-1/4">
            <% if(article.subjects.length > 0) { %>
                <% article.subjects.forEach((sub) => { %>
                    <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-center text-sm mr-2 font-semibold hidden lg:inline-block"><%= sub %></span>
                    <%  
                        let MAX_SUB_LENGTH = 13;
                        sub = sub.length > MAX_SUB_LENGTH ? sub.substring(0, MAX_SUB_LENGTH - 3) + "..." : sub 
                    %>
                    <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-center text-sm mr-2 font-semibold inline-block lg:hidden"><%= sub %></span>
                <% }) %>
            <% } else { %>
                <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-center text-sm mr-2 font-semibold">Geral</span>
            <% } %>
        </div>
        <div class="basis-3/4 text-right">
            <!-- SHOW AFTER THIS DATE  -->
            <% if(SHOW_AFTER_ACTIVE) { %>
                <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-sm ml-2 text-accent font-semibold opacity-50">
                    <i class="fa-regular fa-calendar" title="Não foi publicado ainda"></i><span class="hidden md:inline-block pl-1"><%- SHOW_AFTER_COUNTDOWN %></span>
                </span>
            <% } %>

            <!-- OUTDATED TAG -->
            <% if(article.details.outdated && !SHOW_AFTER_ACTIVE) { %>
                <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-sm ml-2 text-accent font-semibold opacity-50 hidden md:inline-block">
                    <i class="fa-solid fa-hourglass-end"></i><span class="pl-1">Desatualizado</span>
                </span>
            <% } %>

            <!-- PRIVATE TAG -->
            <% if(article.details.private && !SHOW_AFTER_ACTIVE) { %>
                <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-sm ml-2 text-accent font-semibold opacity-50">
                    <i class="fa-solid fa-ban"></i><span class="hidden md:inline-block pl-1">Indisponível</span>
                </span>
            <% } %>

            <!-- YEARS -->
            <% if(article.years.length > 0) { %>
                <% article.years.forEach((y) => { %>
                    <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-sm ml-2 text-accent font-semibold"><%= y %>º <span class="hidden md:inline-block">Ano</span></span>
                <% }) %>
            <% } else { %>
                <% if(article.subjects.length > 0) { %>
                    <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-sm ml-2 text-accent font-semibold">Geral</span>
                <% } %>
            <% } %>
        </div>
    </div>

    <!-- TITLE -->

    <h4 class="font-semibold mt-2">
        <%= article.title %>
    </h4>

    <!-- FOOTER -->
    <div class="text-sm grid grid-cols-2 mt-0">    
        <div class="text-white/10">
            <!-- DATE -->
            <span class="">
                <% let ARTICLE_CREATED_AT = new Date(article.details.showAfter ?? article.createdAt);  %>
                <i class="fa-solid fa-calendar"></i> <%= ARTICLE_CREATED_AT.toLocaleDateString('en-GB') %>
            </span>
        </div>
        
        <!-- STATS -->
        <div class="text-right font-semibold text-sm">
            <!-- UPVOTES -->
            <button data-tooltip-target="article-upvote-tooltip" data-tooltip-placement="bottom" type="button" class="px-2 cursor-default">
                <i class="fa-solid fa-caret-up opacity-50"></i> <%= STATS.upvote %>
            </button>
            <div id="article-upvote-tooltip" role="tooltip" class="hidden md:inline-block absolute invisible z-10 py-2 px-3 bg-[#1d1d1d] rounded-lg shadow-sm opacity-0 tooltip">
                Upvotes
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            

            <!-- DOWNVOTES -->
            <button data-tooltip-target="article-downvote-tooltip" data-tooltip-placement="bottom" type="button" class="px-2 cursor-default">
                <i class="fa-solid fa-caret-down opacity-50"></i> <%= STATS.downvote %>
            </button>
            <div id="article-downvote-tooltip" role="tooltip" class="hidden md:inline-block absolute invisible z-10 py-2 px-3 bg-[#1d1d1d] rounded-lg shadow-sm opacity-0 tooltip">
                Downvotes
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

            <!-- FAVORITES -->
            <button data-tooltip-target="article-favorite-tooltip" data-tooltip-placement="bottom" type="button" class="px-2 cursor-default">
                <i class="fa-solid fa-star opacity-50"></i> <%= STATS.favorite %>
            </button>
            <div id="article-favorite-tooltip" role="tooltip" class="hidden md:inline-block absolute invisible z-10 py-2 px-2 bg-[#1d1d1d] rounded-lg shadow-sm opacity-0 tooltip">
                Favoritos
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>
    </div>
</article>