<%  
    const now = new Date().getTime();
    const SHOW_AFTER_TIME = article.details.showAfter ? new Date(article.details.showAfter).getTime() : null;
    const SHOW_AFTER_DISTANCE = SHOW_AFTER_TIME - now;

    const SHOW_AFTER_DAYS = Math.floor(SHOW_AFTER_DISTANCE / (1000 * 60 * 60 * 24));
    const SHOW_AFTER_HOURS = Math.floor((SHOW_AFTER_DISTANCE % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const SHOW_AFTER_MINUTES = Math.floor((SHOW_AFTER_DISTANCE % (1000 * 60 * 60)) / (1000 * 60));

    const SHOW_AFTER_COUNTDOWN = `
    ${SHOW_AFTER_DAYS > 0 ? SHOW_AFTER_DAYS + ` dia${SHOW_AFTER_DAYS > 1 ? 's':''}` : ''} 
    ${SHOW_AFTER_HOURS > 0 ? SHOW_AFTER_HOURS + ` hora${SHOW_AFTER_HOURS > 1 ? 's':''}` : ''}
    ${SHOW_AFTER_MINUTES > 0 ? SHOW_AFTER_MINUTES + ` min` : ''}
    `;

    const SHOW_AFTER_ACTIVE = article.details.showAfter && SHOW_AFTER_COUNTDOWN && SHOW_AFTER_DISTANCE > 0;

    const ARTICLE_IS_PRIVATE = article.details.private;
%>

<article 
class="bg-[#292929] rounded-lg p-4 mt-4 shadow hover:translate-y-[-2px] transition-transform duration-500"
>   
    <div class="grid grid-cols-1 gap-y-2 2xl:grid-cols-2 py-1">
        <!-- SUBJECT -->
        <div class="ml-2 2xl:ml-0">
            <% if(article.subjects.length > 0) { %>
                <% article.subjects.forEach((sub) => { %>
                    <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-center text-sm mr-2 font-semibold"><%= sub %></span>
                <% }) %>
            <% } else { %>
                <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-center text-sm mr-2 font-semibold">Geral</span>
            <% } %>
        </div>

        <div class="text-left 2xl:text-right">
            <!-- SHOW AFTER THIS DATE  -->
            <% if(SHOW_AFTER_ACTIVE) { %>
                <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-sm ml-2 text-accent font-semibold opacity-50">
                    <i class="fa-regular fa-calendar"></i> <span class="pl-1">Publicado em <%- SHOW_AFTER_COUNTDOWN %></span>
                </span>
            <% } %>

            <!-- OUTDATED TAG -->
            <% if(article.details.outdated) { %>
                <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-sm ml-2 text-accent font-semibold opacity-50 hidden 2xl:inline-block">
                    <i class="fa-solid fa-hourglass-end"></i> <span class="pl-1">Desatualizado</span>
                </span>
            <% } %>

            <!-- PRIVATE TAG -->
            <% if(article.details.private) { %>
                <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-sm ml-2 text-accent font-semibold opacity-50">Indisponível</span>
            <% } %>

            <!-- YEARS -->
            <% if(article.years.length > 0) { %>
                <% article.years.forEach((y) => { %>
                    <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-sm ml-2 text-accent font-semibold"><%= y %>º Ano</span>
                <% }) %>
            <% } else { %>
                <% if(article.subjects.length > 0) { %>
                    <span class="bg-[#1d1d1d] py-1 px-4 rounded-full text-sm ml-2 text-accent font-semibold">Geral</span>
                <% } %>
            <% } %>
        </div>
    </div>

    <!-- TITLE -->
    <h4 class="<% if(!ARTICLE_IS_PRIVATE && !SHOW_AFTER_ACTIVE) { %> cursor-pointer <% } else { %> cursor-default <% } %> font-semibold mt-2" <% if(!ARTICLE_IS_PRIVATE && !SHOW_AFTER_ACTIVE) { %> onclick="location.href='/library/read/<%= article.id %>'" <% } %>>
        <%= article.title %>
    </h4>

    <!-- FOOTER -->
    <div class="text-sm grid grid-cols-2 mt-0">
        <div class="py-1 text-neutral-500 font-medium">
            <!-- DATE -->
            <span class="">
                <% let ARTICLE_CREATED_AT = new Date(article.createdAt);  %>
                <%= ARTICLE_CREATED_AT.toLocaleDateString() %>
            </span>
        </div>

        <%
            let numbers = {
                upvote: article.history.filter((h) => h.type === 'UPVOTE').length,
                downvote: article.history.filter((h) => h.type === 'DOWNVOTE').length,
                favorite: article.history.filter((h) => h.type === 'FAVORITE').length,
            }
        %>
        
        <!-- STATS -->
        <div class="text-right font-semibold">
            <!-- UPVOTES -->
            <span class="px-2" title="Upvotes">
                <i class="fa-solid fa-caret-up opacity-50"></i> <%= numbers.upvote %>
            </span>

            <!-- DOWNVOTES -->
            <span class="px-2" title="Downvotes">
                <i class="fa-solid fa-caret-down opacity-50"></i> <%= numbers.downvote %>
            </span>

            <!-- FAVORITES -->
            <span class="px-2" title="Favoritos">
                <i class="fa-solid fa-star opacity-50"></i> <%= numbers.favorite %>
            </span>
        </div>
    </div>
</article>