
<%- include('../components/Head', {HIDE_DEFAULT_METATAGS: true}) %>


<body>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js" type="module"></script>

    <%- include('../components/Header', {
        PAGE_TITLE: 'PAINEL DE CONTROLE',
        EXTRA_DATA: {}
    }) %>

    <% 
    function trimString(string, length) {
        return string.length > length ? string.substring(0, length) + '...' : string;
    };
    %>

    <section class="bg-[#292929]">
        <div class="container mx-auto">
            <div class="p-4">
                <h1 class="text-2xl text-accent font-bold mt-6 mb-1 inline-block" id="library">Biblioteca</h1>
                <% if(user.details.articleWriter) { %>
                    <div class="bg-[#1d1d1d] rounded-lg p-4">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div>
                                <h1 class="text-xl">
                                    Novo artigo
                                </h1>

                                <div class="bg-[#292929] rounded-lg p-4">
                                    <form action="" method="post"></form>
                                </div>
                            </div>
                            <div>
                                <h1 class="text-xl">
                                    Preview
                                </h1>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="bg-[#1d1d1d] rounded-lg p-4"><span class="opacity-50 italic">Sem permissão para acessar esta secção.</span></div>
                <% } %>

                <h1 class="text-2xl text-accent font-bold mt-6" id="newsletter">Newsletter</h1>
                <% if(user.details.feedWriter) { %>
                    <div class="bg-[#1d1d1d] rounded-lg p-4">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div>
                                <h1 class="text-xl">
                                    Nova publicação
                                </h1>

                                <div class="bg-[#292929] rounded-lg p-4">
                                    <form action="" method="post"></form>
                                </div>
                            </div>
                            <div>
                                <h1 class="text-xl">
                                    Preview
                                </h1>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="bg-[#1d1d1d] rounded-lg p-4"><span class="opacity-50 italic">Sem permissão para acessar esta secção.</span></div>
                <% } %>

                <h1 class="text-2xl text-accent font-bold mt-6">Administração</h1>
                <% if(user.details.administrator) { %>
                    <div class="bg-[#1d1d1d] rounded-lg p-4">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div>
                                <h1 class="text-xl">
                                    Nova publicação
                                </h1>
                            </div>
                            <div>
                                <h1 class="text-xl">
                                    Usuários
                                </h1>

                                <div class="bg-[#292929] rounded-lg p-4">
                                    <% (users ?? []).forEach((USER, index) => { %>
                                        <div class="bg-[#1d1d1d] rounded-lg p-4 <% if(index !== 0) { %> mt-2 <% } %>">
                                            <span>
                                                <img src="<%= USER.picture ?? 'https://i.imgur.com/l3sIySm.png' %>" class="rounded-full h-5 inline-block">
                                                <% let USERNAME = trimString(USER.name?.length > 0 ? USER.name : USER.email.split('@')?.[0], 22) %>
                                                <span class="pl-2"><%= USERNAME %></span>

                                                <span class="text-right float-right opacity-50">
                                                    <a href="/control/user/<%= USER.id %>/newsletterWriter"><i class="<% if(USER.details.feedWriter) { %>text-[#ED4245]<% } else { %> text-accent <% } %> fa-solid fa-note-sticky hover:opacity-50 duration-150" title="Editor Newsletter"></i></a>
                                                    <a href="/control/user/<%= USER.id %>/articleWriter"><i class="<% if(USER.details.articleWriter) { %>text-[#ED4245]<% } else { %> text-accent <% } %> fa-solid fa-feather pl-2 hover:opacity-50 duration-150" title="Editor Biblioteca"></i></a>
                                                    <a href="/control/user/<%= USER.id %>/delete"><i class="text-[#ED4245] fa-solid fa-trash pl-2 hover:opacity-50 duration-150"></i></a>
                                                </span>
                                            </span>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="bg-[#1d1d1d] rounded-lg p-4"><span class="opacity-50 italic">Sem permissão para acessar esta secção.</span></div>
                <% } %>
            </div>
        </div>
    </section>

    <%- include('../components/Footer') %>
</body>