
<%- include('../components/Head', {HIDE_DEFAULT_METATAGS: false}) %>

<body>
    <%- include('../components/Header', {
        PAGE_TITLE: 'ARTIGOS',
        EXTRA_DATA: {}
    }) %>

    <%
        const AVAILABLE_SUBJECTS = [
            {name: "Filosofia"}, 
            {name: "Geografia"},
            {name: "História"}, 
            {name: "Português"}, 
            {name: "Inglês"}, 
            {name: "Aplicações Informáticas"}, 
            {name: "Educação Física"}
        ];

        const USER_WRITER = user && user.details.articleWriter;
    %>

    <section class="bg-[#292929]">
        <div class="mx-auto container px-4 md:px-10 py-4">
            <!-- SEARCH -->
            <form autocomplete="off" class="flex flex-row">   
                <div class="basis-11/12 lg:basis-4/5">
                    <input 
                    type="text" name="q" id="article-search" placeholder="Busque artigos por título, disciplinas, etc..." 
                    value="<%= searchRaw %>" class="block w-full py-2 md:px-8 border-transparent border-b-2 border-b-[#1d1d1d] rounded-b focus:ring-transparent focus:border-transparent focus:border-b-[#008251] bg-transparent placeholder-white/50">
                </div>

                <div class="basis-1/12 lg:basis-1/5 ml-4 <% if(USER_WRITER) { %> xl:grid grid-cols-1 xl:grid-cols-2 gap-2 <% } %>">
                    <button class="w-full block font-medium px-4 py-2 bg-accent hover:opacity-50 duration-300 rounded-lg" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i> <span class="hidden xl:inline-block">Buscar</span>
                    </button>

                    <% if(USER_WRITER) { %>
                        <button onclick="location.href='/control'" type="button"
                        class="font-medium px-4 py-2 bg-accent hover:opacity-50 duration-300 rounded-lg hidden xl:inline-block">
                            Novo <i class="fa-solid fa-plus"></i>
                        </button>
                    <% } %>
                </div>
            </form>

            <!-- TOOLS AND TIPS -->
            <div class="text-sm mt-4">
                <% if(searchRaw && searchRaw.length > 0) { %>
                    <button class="rounded-lg bg-accent inline-block px-4 py-1 border-2 border-transparent" onclick="location.href='?q='">
                        Limpar busca
                    </button>
                    <span class="inline-block px-2 text-[#1d1d1d]">
                        |
                    </span>
                <% } %>

                <button id="subjectsDropdownButton" data-dropdown-toggle="subjectsDropdown" 
                class="text-center inline-flex items-center px-4 py-1 bg-[#1d1d1d] border-2 border-transparent rounded-lg" type="button">
                    Disciplinas <i class="fa-solid fa-angle-down pl-2"></i>
                </button>
                
                <div id="subjectsDropdown" class="hidden z-10 w-44 rounded-lg divide-y divide-white shadow bg-[#1a1a1a]">
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="subjectsDropdownButton">
                        <% AVAILABLE_SUBJECTS.forEach((sub) => { %>
                            <li>
                                <a href="?q=disciplina:<%= sub.name.replace(/ /g, '_') %>" class="block py-2 px-4 hover:opacity-50"><%= sub.name %></a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                <span class="hidden xl:inline-block px-2 text-[#1d1d1d]">
                    |
                </span>

                <span class="hidden xl:inline-block pr-2 opacity-50">
                    dicas
                </span>
                <span class="hidden md:inline-block mt-2">
                    <span class="rounded-lg inline-block px-4 py-1 bg-[#1d1d1d] border-2 border-[#1a1a1a] text-white/50">
                        <% if(searchYear) {%>
                            <span class="text-accent">A buscar artigos do <%= searchYear %>º Ano</span>
                        <% } else { %>
                            ano:12 | Busca por artigos do 12º Ano
                        <% } %>
                    </span>
                    <span class="rounded-lg inline-block px-4 py-1 bg-[#1d1d1d] border-2 border-[#1a1a1a] text-white/50">
                        <% if(searchSubject) { %>
                            <span class="text-accent">A buscar artigos de <%= searchSubject %></span>
                        <% } else { %>
                            disciplina:Filosofia | Busca por artigos de Filosofia
                        <% } %>
                    </span>
                </span>
            </div>

            <!-- RESULTS AND CONTENT -->
            <div class="rounded-lg bg-[#1d1d1d] px-4 pt-4 pb-1 mt-4">
                <div class="">

                    <% if(!results.length > 0 && searchQuery?.length > 0) { %>
                        <div class="text-center">
                            <span class="opacity-25"><i class="fa-solid fa-ban"></i> Nenhum resultado por esta busca</span>
                            <div class="inline-flex justify-center items-center w-full">
                                <hr class="my-8 w-full rounded h-1 bg-[#292929] border-0">
                                
                                <span class="text-white/10 hidden md:block absolute left-1/2 px-3 bg-[#1d1d1d] -translate-x-1/2">Outros artigos disponíveis</span>
                            </div>
                        </div>
                    <% } %>

                    <%  var displayArticles = results.length > 0 ? results : articles;
                        displayArticles.forEach((article, index) => { %>
                        <%- include('../components/library/ArticlePreview', { article: article  }) %>
                    <% }) %>

                </div>
            </div>
        </div>
    </section>
</body>