
<%- include('../components/Head', {HIDE_DEFAULT_METATAGS: false}) %>

<%
    const AVAILABLE_SUBJECTS = [
        {name: "Filosofia"}, 
        {name: "Geografia"},
        {name: "História"}, 
        {name: "Português"}, 
        {name: "Inglês"}, 
        {name: "Aplicações Informáticas"}, 
        {name: "Educação Física"}
    ];
%>

<body>
    <%- include('../components/Header', {
        PAGE_TITLE: 'BIBLIOTECA',
        EXTRA_DATA: {}
    }) %>

    <section class="bg-[#292929]">
        <div class="mx-auto container">
            <div class="grid grid-cols-5 gap-4 p-4 min-h-[90vh]">
                <div class="bg-[#1d1d1d] rounded-lg p-4 shadow col-span-4">
                    <!-- SEARCH BOX -->
                    <form autocomplete="off">   
                        <label for="article-search" class="mb-2 text-sm font-medium sr-only text-white">Buscar</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                            </div>
                            <input 
                            type="search" 
                            name="q" 
                            id="article-search" 
                            value="<%= searchRaw %>" 
                            class="block w-full p-4 pl-10 text-sm border rounded-lg bg-[#292929]" 
                            placeholder="Busque artigos por título, disciplinas, etc..." 
                            required>

                            <button 
                            type="submit" 
                            class="
                            text-white absolute right-2.5 bottom-2.5 focus:outline-none font-medium rounded-lg 
                            text-sm px-4 py-2 bg-accent hover:opacity-75 duration-300">
                                Buscar
                            </button>
                        </div>
                    </form>
                    <div class="mt-4">
                        <% if(searchRaw && searchRaw.length > 0) { %>
                            <button onclick="location.href='?q='" class="text-white focus:outline-none font-medium rounded-lg text-sm px-4 py-1.5 bg-accent hover:opacity-75 duration-300">Limpar busca</button>
                            <span class="opacity-50 px-4 hidden md:inline-block"> | </span>
                        <% } %>
                            
                        <!-- SEARCH KEYS -->
                        <div class="hidden lg:inline-block">
                            <% if (searchYear) { %>
                                <kbd class="px-4 py-2 text-sm font-semibold rounded-lg bg-[#292929] text-accent">
                                    A buscar artigos do <%= searchYear %>º Ano
                                </kbd>
                            <% } else { %>
                                <kbd class="px-4 py-2 text-sm font-semibold rounded-lg bg-[#292929] text-white/50">
                                    ano:12 - Busca por artigos do 12º ano
                                </kbd>
                            <% } %>
                            <% if(searchSubject) { %>
                                <kbd class="px-4 py-2 text-sm font-semibold rounded-lg bg-[#292929] text-accent ml-2">
                                    A buscar artigos de <%= searchSubject %>
                                </kbd>
                            <% } else {%>
                                <kbd class="px-4 py-2 text-sm font-semibold rounded-lg bg-[#292929] text-white/50 ml-2">
                                    <% let TIP_SUBJECT = AVAILABLE_SUBJECTS[Math.floor(Math.random()*AVAILABLE_SUBJECTS.length)]; %>
                                    disciplina:Filosofia - Busca por artigos de Filosofia
                                </kbd>
                            <% } %>
                        </div>
                    </div>

                    <!-- LIST -->
                    <div class="mt-4 rounded-lg">
                        <% if(!results.length > 0 && searchQuery?.length > 0) { %>
                            <span class="opacity-75">Nenhum resultado por esta busca</span>
                            <hr class="my-4 mx-auto h-1 bg-[#292929] rounded border-0 md:my-2">
                        <% } %>
                        <%  var displayArticles = results.length > 0 ? results : articles;
                            displayArticles.forEach((article, index) => { %>
                            <%- include('../components/library/ArticlePreview', { article: article  }) %>
                        <% }) %>
                    </div>
                </div>
                <div class="bg-[#1d1d1d] rounded-lg px-6 py-2 shadow">
                    <h4 class="py-2 text-accent opacity-75 font-semibold text-lg lg:text-2xl">
                        Disciplinas
                    </h4>
                    <ul class="pr-2 lg:pr-0">
                        <% AVAILABLE_SUBJECTS.forEach((subject) => { %>
                            <li class="text-sm lg:text-lg hover:opacity-75 py-1">
                                <a href="?q=disciplina:<%= subject.name.replace(/ /g, '_') %>">
                                    <%= subject.name %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                
                
            </div>
        </div>
    </section>

    <script>
        document.onkeydown = (e) => {
            // CTRL + F
            if (e.ctrlKey && e.which == 70) {
                e.preventDefault();
                document.getElementById('article-search').focus();
            }
        };
    </script>
</body>