<!-- PARAMETERS: post, feed, showNewestTag -->

<article class="bg-[#292929] rounded-lg cursor-pointer hover:opacity-75 duration-300" onclick="location.href='/post/<%= post.id %>'">

    <!-- IMAGE -->
    <% if(post.thumbnailURL?.length > 5) { %>
        <img 
        src="<%= post.thumbnailURL %>" alt="Post thumbnail"
        class="w-full h-40 2xl:h-48 object-cover rounded-lg shadow"
        loading="lazy">
    <% } %>
    <!-- TEXT BOX -->
    <div class="p-4">
        <!-- tags -->
        <div class="mt-2 hidden md:block h-6 overflow-hidden">
            <% post.tags.forEach((tag) => { %>
                <span class="w-auto text-accent py-1 px-4 bg-[#1d1d1d] mr-0.5 2xl:mr-2 rounded-full text-xs font-semibold">
                    <%= tag %>
                </span>
            <% }); %>
        </div>
        <!-- TITLE AND INFO -->
        <h1 class="text-3xl font-semibold mt-2 h-36"><%= post.title %></h1>

        <!-- DETAILS -->
        <div class="mt-2 text-sm">
            <span class="opacity-50">
                <% let POST_CREATED_AT = new Date(post.createdAt);  %>
                <%= POST_CREATED_AT.toLocaleDateString() %> às <%= POST_CREATED_AT.toLocaleTimeString([], {hour: "2-digit", minute: "2-digit"}) %>
            </span>
            <% if(post.author.name) {%>
                <span class="opacity-50">
                    <span class="hidden md:inline-block">-</span>
                    <span><%= post.author.name %></span>
                </span>
            <% } %>
            <% if(showNewestTag && feed[0].id === post.id) { %>
                <span class="opacity-50 hidden md:inline-block">-</span>
                <span class="bg-accent px-2 rounded-lg hidden md:inline-block font-semibold">MAIS RECENTE</span>
            <% } %>
        </div>
        
    </div>
</article>